
.nav-link{
 color:rgb(248, 51, 149) !important;
  font-size: 30px;
}
.navbar navbar-expand-lg navbar-light bg-light{
    background-color:rgb(248, 51, 149);   
}
.collapse navbar-collapse{
    background-color:rgb(248, 51, 149);
}
.navv{
 direction: rtl;   
}
.nav-item{
    color:rgb(248, 51, 149);
    font-size: 30px;   
}
button{
    background-color: rgb(248, 177, 189);
    color: rgb(248, 51, 149);
    border-color: rgb(248, 51, 149);
}
p{
    font-size: 15px;
}