body{
//   // background-image:url("../src/assets/2אוסף\ תמונות.png");  
//   //   background-repeat: no-repeat;
background-color: rgb(247, 225, 225);
  }
// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
