
label{
    color: rgb(248, 51, 149);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    }
.btn-lg{
    background-color: rgb(248, 51, 149);
     width: 30%;
     border: rgb(3, 153, 153);
     color:black;
     text-align: center;
     margin-right: 35%;
     margin-top: 2%;
     margin-bottom: 2%;
 }
 h1{
    color: rgb(248, 51, 149);
    font-size: 35px;
    font-family: 'Calibri';
    direction: rtl;
    text-align: center;
    margin-top: 4%;
    margin-right:6%;
    margin-bottom: -6%;
 }
 .myForm{
    direction: rtl;
    margin-top: 8%;
}
form{
    width: 50%;
    border: 5px solid rgb(162, 244, 247); 
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    direction: rtl;
    margin-left:23%;
    margin-top: 3%; 
}
.form-group{
    flex-direction: column;
    align-items: center;
    display: flex;
}
.form-control{
    background-color:rgb(247, 247, 176)
}
.allAdd{
    width: 50%;
}
label{
    color: rgb(248, 51, 149);
    font-size: 33px;
    font-family: Arial, Helvetica, sans-serif;
}

